
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="background-color: black;
        width:50%;
        color: white;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius:7px;
        padding:5px;
        margin-bottom: 30px;
        margin-top:30px;
        font-size:22px;
        font-family:'Times New Roman';
        text-align:center !important"
         class="col-md-6 col-md-offset-3">

        <strong>Giới thiệu</strong>
    </div>

    <div class="col-md-12 prdt-left" style="background-color:white">
      
        <br />
        <div class="MsoNormal" style="margin:0 1in 0 1in; text-align: justify;" data-mce-style="margin-left: 0.5in; text-align: justify;">
            <span lang="VI" style="font-family: 'Calibri Light', sans-serif; font-size: 12pt;" data-mce-style="font-family: 'Calibri Light', sans-serif; font-size: 12pt;">
                Những năm gần đây, LVQ
                hiện trên thị trường Việt Nam mang dáng vấp của nhãn hàng thời trang cá tính
                dành cho giới trẻ với quy mô cửa hàng lớn và phủ rộng, LVQ đã dần trở thành
                thương hiệu ưa thích và quen thuộc của khách hàng.<o:p></o:p>
            </span>
        </div>

        <div class="MsoNormal" style="margin:0 1in 0 1in; text-align: justify;" data-mce-style="margin-left: 0.5in; text-align: justify;">
            <span lang="VI" style="font-family: 'Calibri Light', sans-serif; font-size: 12pt;" data-mce-style="font-family: 'Calibri Light', sans-serif; font-size: 12pt;">
                <br>Đến nay, với những bước
                chuyển mình mới, LVQ đang ngày một mở rộng hệ thống cửa hàng, làm mới hình ảnh,
                cải tiến chất lượng sản phẩm và mẫu mã để phục vụ cho nhu cầu ngày một cao của
                khách hàng.<o:p></o:p>
            </span>
        </div>

        <div class="MsoNormal" style="margin:0 1in 0 1in; text-align: justify;" data-mce-style="margin-left: 0.5in; text-align: justify;">
            <span lang="VI" style="font-family: 'Calibri Light', sans-serif; font-size: 12pt;" data-mce-style="font-family: 'Calibri Light', sans-serif; font-size: 12pt;">
                <br>Các sản phẩm của LVQ rất
                đa dạng như Áo Thun, Polo, Sơ-mi, Jeans, Áo Khoác, Váy,...đều được thiết kế rất
                tinh tế và thanh lịch. Chất lượng dịch vụ, cơ sở vật chất, quy trình bán
                hàng,... cũng rất được LVQ chú trọng nâng cấp và phát triển để tạo sự thoải
                mái cho khách hàng đến tham quan mua sắm.<o:p></o:p>
            </span>
        </div>

        <div class="MsoNormal" style="margin:0 1in 0 1in; text-align: justify;" data-mce-style="margin-left: 0.5in; text-align: justify;"><span lang="VI" style="font-family: 'Calibri Light','sans-serif'; mso-ascii-theme-font: major-latin; mso-hansi-theme-font: major-latin; mso-ansi-language: VI;" data-mce-style="font-family: 'Calibri Light','sans-serif'; mso-ascii-theme-font: major-latin; mso-hansi-theme-font: major-latin; mso-ansi-language: VI;"><span lang="VI" style="font-family: 'Calibri Light','sans-serif'; mso-ascii-theme-font: major-latin; mso-hansi-theme-font: major-latin; mso-ansi-language: VI;" data-mce-style="font-family: 'Calibri Light','sans-serif'; mso-ascii-theme-font: major-latin; mso-hansi-theme-font: major-latin; mso-ansi-language: VI;"><span style="font-size: 12pt;" data-mce-style="font-size: 12pt;"><br>Với những nổ lực không ngừng nhắm cung cấp cho khách hàng <i>“những sản phẩm chất lượng tốt, hợp thời trang với giá cả hợp lý”</i>, Blook đang từng bước xây dựng để trở thành thương hiệu thời trang hàng đầu dành cho những người yêu thời trang Việt Nam.<br><br><br></span></span></span><div><img src="//hstatic.net/564/1000068564/10/2016/2-17/12.jpg" data-mce-src="//hstatic.net/564/1000068564/10/2016/2-17/12.jpg"><br></div><span lang="VI" style="font-family: 'Calibri Light','sans-serif'; mso-ascii-theme-font: major-latin; mso-hansi-theme-font: major-latin; mso-ansi-language: VI;" data-mce-style="font-family: 'Calibri Light','sans-serif'; mso-ascii-theme-font: major-latin; mso-hansi-theme-font: major-latin; mso-ansi-language: VI;"><br><br><o:p></o:p></span></div>
    </div>



