<div id="divGioHang" class="cart">
    <a href="@Url.Action("XemGioHang", "GioHang")">
        <div class="total">
            @*@ViewBag.TongTien.ToString("#,##")*@ &nbsp; <span> @ViewBag.TongSoLuong </span> SP
        </div>
    </a>
    <div class="clearfix"> </div>
</div>
